@charset 'utf-8';

/* Header */
.header-container {
  height: 100%; 
  width: min(100% - 30px, 1200px);
  margin-inline: auto;
  display:flex;
  justify-content: space-between;
  align-items:center;
}

header {
  height: 60px;
  background-color: #f1f2f3;
}

.header-logo {
  width: 160px;
  display:flex;
  align-items: center;
}

.header-list {
  width:400px;
  display:flex;
  gap:50px;
  list-style-type: none;
}

.nav-link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}

.nav-link.active {
  color: #cf4848;
  font-weight: 600;
}

.header-icons {
  display:flex;
  gap:30px;
}

.cart-icon, .user-icon {
  color:#000;
  font-size: 25px;
  transition: 0.5s ease;
}

.cart-icon:hover, .user-icon:hover {
  color:#cf4848;
}

.store-name {
  color:#2f3c4f;
}

.cart-box, .user-box {
  display:flex;
  gap:5px;
  font-size: 18px;
  font-weight: 500;
}

